<%= render "shared/header" %>
<div class='main'>
  <div class='select-reason-contents'>
    <h2 class='title'>
      ワクチン一覧
    </h2>
    <ul class="list-group">
      <li class="list-group-item list-group-item-warning">B型肝炎 &emsp; &emsp; &emsp; &nbsp; &thinsp; <div
          class="btn-group" role="group" aria-label="Basic mixed styles example">
          <div class="btn-group" role="group" aria-label="Basic outlined example">

            <% @vaccination_lists.each do |vaccination_list| %>
            <% if vaccination_list.vaccine_id == 1 %>
            <% if vaccination_list.date == nil %>
            <%= link_to '１回目 &emsp; 未'.html_safe, set_baby_vaccination_list_path(id: vaccination_list.id), class: "btn btn-outline-primary", type: "button" %>
            <% elsif vaccination_list.date >= Date.today %>
            <%= link_to '１回目&nbsp; 予定'.html_safe, baby_vaccination_list_path(id: vaccination_list.id), class: "btn btn-outline-success", type: "button" %>
            <% else %>
            <%= link_to '１回目 &emsp; 済'.html_safe, baby_vaccination_list_path(id: vaccination_list.id), class: "btn btn-outline-danger", type: "button" %>
            <% end %>
            <% end %>
            <% end %>

            <% if @vaccination_lists.exists?(vaccine_id: 2) %>
            <% @vaccination_lists.each do |vaccination_list| %>
            <% if vaccination_list.vaccine_id == 2 %>
            <% if vaccination_list.date == nil %>
            <%= link_to '２回目 &emsp; 未'.html_safe, set_baby_vaccination_list_path(id: vaccination_list.id), class: "btn btn-outline-primary", type: "button" %>
            <% elsif vaccination_list.date >= Date.today %>
            <%= link_to '２回目&nbsp; 予定'.html_safe, baby_vaccination_list_path(id: vaccination_list.id), class: "btn btn-outline-success", type: "button" %>
            <% else %>
            <%= link_to '２回目 &emsp; 済'.html_safe, baby_vaccination_list_path(id: vaccination_list.id), class: "btn btn-outline-danger", type: "button" %>
            <% end %>
            <% end %>
            <% end %>
            <% else %>
            <button type="button" class="btn btn-outline-secondary" disabled>２回目 &emsp; 未</button>
            <% end %>

            <button type="button" class="btn btn-outline-secondary" disabled>３回目 &emsp; 未</button>
          </div>
        </div>
      </li>
      <li class="list-group-item list-group-item-light">ロタウイルス &emsp; &nbsp; &nbsp; <div class="btn-group" role="group"
          aria-label="Basic mixed styles example">
          <div class="btn-group" role="group" aria-label="Basic outlined example">

            <% @vaccination_lists.each do |vaccination_list| %>
            <% if vaccination_list.vaccine_id == 4 %>
            <% if vaccination_list.date == nil %>
            <%= link_to '１回目 &emsp; 未'.html_safe, set_baby_vaccination_list_path(id: vaccination_list.id), class: "btn btn-outline-primary", type: "button" %>
            <% elsif vaccination_list.date >= Date.today %>
            <%= link_to '１回目&nbsp; 予定'.html_safe, baby_vaccination_list_path(id: vaccination_list.id), class: "btn btn-outline-success", type: "button" %>
            <% else %>
            <%= link_to '１回目 &emsp; 済'.html_safe, baby_vaccination_list_path(id: vaccination_list.id), class: "btn btn-outline-danger", type: "button" %>
            <% end %>
            <% end %>
            <% end %>

            <button type="button" class="btn btn-outline-primary">２回目 &emsp; 未</button>
          </div>
        </div>
        &emsp; ※５価ワクチンの場合は３回接種 &emsp;
        <button type="button" class="btn btn-outline-primary">３回目 &emsp; 未</button>

      </li>
      <li class="list-group-item list-group-item-warning">ヒブ &emsp; &emsp; &emsp; &emsp; &emsp; <div class="btn-group"
          role="group" aria-label="Basic mixed styles example">
          <div class="btn-group" role="group" aria-label="Basic outlined example">

            <% @vaccination_lists.each do |vaccination_list| %>
            <% if vaccination_list.vaccine_id == 7 %>
            <% if vaccination_list.date == nil %>
            <%= link_to '１回目 &emsp; 未'.html_safe, set_baby_vaccination_list_path(id: vaccination_list.id), class: "btn btn-outline-primary", type: "button" %>
            <% elsif vaccination_list.date >= Date.today %>
            <%= link_to '１回目&nbsp; 予定'.html_safe, baby_vaccination_list_path(id: vaccination_list.id), class: "btn btn-outline-success", type: "button" %>
            <% else %>
            <%= link_to '１回目 &emsp; 済'.html_safe, baby_vaccination_list_path(id: vaccination_list.id), class: "btn btn-outline-danger", type: "button" %>
            <% end %>
            <% end %>
            <% end %>

            <button type="button" class="btn btn-outline-success">２回目&nbsp; 予定</button>
            <button type="button" class="btn btn-outline-primary">３回目 &emsp; 未</button>
            <button type="button" class="btn btn-outline-primary">４回目 &emsp; 未</button>
          </div>
        </div>
      </li>
      <li class="list-group-item list-group-item-light">小児用肺炎球菌 &emsp; <div class="btn-group" role="group"
          aria-label="Basic mixed styles example">
          <div class="btn-group" role="group" aria-label="Basic outlined example">

            <% @vaccination_lists.each do |vaccination_list| %>
            <% if vaccination_list.vaccine_id == 11 %>
            <% if vaccination_list.date == nil %>
            <%= link_to '１回目 &emsp; 未'.html_safe, set_baby_vaccination_list_path(id: vaccination_list.id), class: "btn btn-outline-primary", type: "button" %>
            <% elsif vaccination_list.date >= Date.today %>
            <%= link_to '１回目&nbsp; 予定'.html_safe, baby_vaccination_list_path(id: vaccination_list.id), class: "btn btn-outline-success", type: "button" %>
            <% else %>
            <%= link_to '１回目 &emsp; 済'.html_safe, baby_vaccination_list_path(id: vaccination_list.id), class: "btn btn-outline-danger", type: "button" %>
            <% end %>
            <% end %>
            <% end %>

            <button type="button" class="btn btn-outline-primary">２回目 &emsp; 未</button>
            <button type="button" class="btn btn-outline-primary">３回目 &emsp; 未</button>
            <button type="button" class="btn btn-outline-primary">４回目 &emsp; 未</button>
          </div>
        </div>
      </li>
      <li class="list-group-item list-group-item-warning">四種混合 &emsp; &emsp; &emsp; &nbsp; <div class="btn-group"
          role="group" aria-label="Basic mixed styles example">
          <div class="btn-group" role="group" aria-label="Basic outlined example">

            <% @vaccination_lists.each do |vaccination_list| %>
            <% if vaccination_list.vaccine_id == 15 %>
            <% if vaccination_list.date == nil %>
            <%= link_to '１回目 &emsp; 未'.html_safe, set_baby_vaccination_list_path(id: vaccination_list.id), class: "btn btn-outline-primary", type: "button" %>
            <% elsif vaccination_list.date >= Date.today %>
            <%= link_to '１回目&nbsp; 予定'.html_safe, baby_vaccination_list_path(id: vaccination_list.id), class: "btn btn-outline-success", type: "button" %>
            <% else %>
            <%= link_to '１回目 &emsp; 済'.html_safe, baby_vaccination_list_path(id: vaccination_list.id), class: "btn btn-outline-danger", type: "button" %>
            <% end %>
            <% end %>
            <% end %>

            <button type="button" class="btn btn-outline-primary">２回目 &emsp; 未</button>
            <button type="button" class="btn btn-outline-primary">３回目 &emsp; 未</button>
            <button type="button" class="btn btn-outline-primary">４回目 &emsp; 未</button>

          </div>
        </div>
      </li>
      <li class="list-group-item list-group-item-light">BCG &emsp; &emsp; &emsp; &emsp; &emsp; <div class="btn-group"
          role="group" aria-label="Basic mixed styles example">
          <div class="btn-group" role="group" aria-label="Basic outlined example">

            <% @vaccination_lists.each do |vaccination_list| %>
            <% if vaccination_list.vaccine_id == 19 %>
            <% if vaccination_list.date == nil %>
            <%= link_to '１回目 &emsp; 未'.html_safe, set_baby_vaccination_list_path(id: vaccination_list.id), class: "btn btn-outline-primary", type: "button" %>
            <% elsif vaccination_list.date >= Date.today %>
            <%= link_to '１回目&nbsp; 予定'.html_safe, baby_vaccination_list_path(id: vaccination_list.id), class: "btn btn-outline-success", type: "button" %>
            <% else %>
            <%= link_to '１回目 &emsp; 済'.html_safe, baby_vaccination_list_path(id: vaccination_list.id), class: "btn btn-outline-danger", type: "button" %>
            <% end %>
            <% end %>
            <% end %>

          </div>
        </div>
      </li>
      <li class="list-group-item list-group-item-warning">麻しん・風しん &emsp; <div class="btn-group" role="group"
          aria-label="Basic mixed styles example">
          <div class="btn-group" role="group" aria-label="Basic outlined example">

            <% @vaccination_lists.each do |vaccination_list| %>
            <% if vaccination_list.vaccine_id == 20 %>
            <% if vaccination_list.date == nil %>
            <%= link_to '１回目 &emsp; 未'.html_safe, set_baby_vaccination_list_path(id: vaccination_list.id), class: "btn btn-outline-primary", type: "button" %>
            <% elsif vaccination_list.date >= Date.today %>
            <%= link_to '１回目&nbsp; 予定'.html_safe, baby_vaccination_list_path(id: vaccination_list.id), class: "btn btn-outline-success", type: "button" %>
            <% else %>
            <%= link_to '１回目 &emsp; 済'.html_safe, baby_vaccination_list_path(id: vaccination_list.id), class: "btn btn-outline-danger", type: "button" %>
            <% end %>
            <% end %>
            <% end %>

            <button type="button" class="btn btn-outline-primary">２回目 &emsp; 未</button>
          </div>
        </div>
      </li>
      <li class="list-group-item list-group-item-light">水ぼうそう &emsp; &emsp; &thinsp; &thinsp; <div class="btn-group"
          role="group" aria-label="Basic mixed styles example">
          <div class="btn-group" role="group" aria-label="Basic outlined example">

            <% @vaccination_lists.each do |vaccination_list| %>
            <% if vaccination_list.vaccine_id == 22 %>
            <% if vaccination_list.date == nil %>
            <%= link_to '１回目 &emsp; 未'.html_safe, set_baby_vaccination_list_path(id: vaccination_list.id), class: "btn btn-outline-primary", type: "button" %>
            <% elsif vaccination_list.date >= Date.today %>
            <%= link_to '１回目&nbsp; 予定'.html_safe, baby_vaccination_list_path(id: vaccination_list.id), class: "btn btn-outline-success", type: "button" %>
            <% else %>
            <%= link_to '１回目 &emsp; 済'.html_safe, baby_vaccination_list_path(id: vaccination_list.id), class: "btn btn-outline-danger", type: "button" %>
            <% end %>
            <% end %>
            <% end %>

            <button type="button" class="btn btn-outline-primary">２回目 &emsp; 未</button>
          </div>
        </div>
      </li>
      <li class="list-group-item list-group-item-warning">日本脳炎 &emsp; &emsp; &emsp; &thinsp; <div class="btn-group"
          role="group" aria-label="Basic mixed styles example">
          <div class="btn-group" role="group" aria-label="Basic outlined example">

            <% @vaccination_lists.each do |vaccination_list| %>
            <% if vaccination_list.vaccine_id == 24 %>
            <% if vaccination_list.date == nil %>
            <%= link_to '１回目 &emsp; 未'.html_safe, set_baby_vaccination_list_path(id: vaccination_list.id), class: "btn btn-outline-primary", type: "button" %>
            <% elsif vaccination_list.date >= Date.today %>
            <%= link_to '１回目&nbsp; 予定'.html_safe, baby_vaccination_list_path(id: vaccination_list.id), class: "btn btn-outline-success", type: "button" %>
            <% else %>
            <%= link_to '１回目 &emsp; 済'.html_safe, baby_vaccination_list_path(id: vaccination_list.id), class: "btn btn-outline-danger", type: "button" %>
            <% end %>
            <% end %>
            <% end %>

            <button type="button" class="btn btn-outline-primary">２回目 &emsp; 未</button>
            <button type="button" class="btn btn-outline-primary">３回目 &emsp; 未</button>
            <button type="button" class="btn btn-outline-primary">４回目 &emsp; 未</button>
          </div>
        </div>
      </li>
      <li class="list-group-item list-group-item-light">HPV &emsp; &emsp; &emsp; &emsp; &emsp; <div class="btn-group"
          role="group" aria-label="Basic mixed styles example">
          <div class="btn-group" role="group" aria-label="Basic outlined example">

            <% @vaccination_lists.each do |vaccination_list| %>
            <% if vaccination_list.vaccine_id == 28 %>
            <% if vaccination_list.date == nil %>
            <%= link_to '１回目 &emsp; 未'.html_safe, set_baby_vaccination_list_path(id: vaccination_list.id), class: "btn btn-outline-primary", type: "button" %>
            <% elsif vaccination_list.date >= Date.today %>
            <%= link_to '１回目&nbsp; 予定'.html_safe, baby_vaccination_list_path(id: vaccination_list.id), class: "btn btn-outline-success", type: "button" %>
            <% else %>
            <%= link_to '１回目 &emsp; 済'.html_safe, baby_vaccination_list_path(id: vaccination_list.id), class: "btn btn-outline-danger", type: "button" %>
            <% end %>
            <% end %>
            <% end %>

            <button type="button" class="btn btn-outline-primary">２回目 &emsp; 未</button>
            <button type="button" class="btn btn-outline-primary">３回目 &emsp; 未</button>
          </div>
        </div>
      </li>

    </ul>
    <br>
    ※ &nbsp; 日本小児科学会の推奨期間を参考に作成しています。
  </div>
  <%= image_tag "gahag-0082178198-1.jpeg", class:"list-pict"%>
  <%= render "shared/footer" %>