<%= render "shared/header" %>
<div class='main'>
  <div class='select-reason-contents'>
    <h2 class='title'>
      ワクチン一覧
    </h2>
    <ul class="list-group">
      <li class="list-group-item list-group-item-warning">B型肝炎 &emsp; &emsp; &emsp; &nbsp; &thinsp; <div
          class="btn-group" role="group" aria-label="Basic mixed styles example">
          <div class="btn-group" role="group" aria-label="Basic outlined example">
            <% if @type_b_1st.date == nil %>
            <%= link_to set_baby_vaccination_list_path(id: @type_b_1st.id) do %>
            <button type="button" class="btn btn-outline-primary">１回目 &emsp; 未</button>
            <% end %>
            <% elsif @type_b_1st.date >= Date.today %>
            <%= link_to baby_vaccination_list_path(id: @type_b_1st.id) do %>
            <button type="button" class="btn btn-outline-success">１回目&nbsp; 予定</button>
            <% end %>
            <% else %>
            <%= link_to baby_vaccination_list_path(id: @type_b_1st.id) do %>
            <button type="button" class="btn btn-outline-danger">１回目 &emsp; 済</button>
            <% end %>
            <% end %>
            <button type="button" class="btn btn-outline-primary">２回目 &emsp; 未</button>
            <button type="button" class="btn btn-outline-secondary" disabled>３回目 &emsp; 未</button>
          </div>
        </div>
      </li>
      <li class="list-group-item list-group-item-light">ロタウイルス &emsp; &nbsp; &nbsp; <div class="btn-group" role="group"
          aria-label="Basic mixed styles example">
          <div class="btn-group" role="group" aria-label="Basic outlined example">
            <% if @rota_1st.date == nil %>
            <%= link_to set_baby_vaccination_list_path(id: @rota_1st.id) do %>
            <button type="button" class="btn btn-outline-primary">１回目 &emsp; 未</button>
            <% end %>
            <% elsif @rota_1st.date >= Date.today %>
            <%= link_to baby_vaccination_list_path(id: @rota_1st.id) do %>
            <button type="button" class="btn btn-outline-success">１回目&nbsp; 予定</button>
            <% end %>
            <% else %>
            <%= link_to baby_vaccination_list_path(id: @rota_1st.id) do %>
            <button type="button" class="btn btn-outline-danger">１回目 &emsp; 済</button>
            <% end %>
            <% end %>
            <button type="button" class="btn btn-outline-primary">２回目 &emsp; 未</button>
          </div>
        </div>
        &emsp; ※５価ワクチンの場合は３回接種 &emsp;
        <button type="button" class="btn btn-outline-primary">３回目 &emsp; 未</button>

      </li>
      <li class="list-group-item list-group-item-warning">ヒブ &emsp; &emsp; &emsp; &emsp; &emsp; <div class="btn-group"
          role="group" aria-label="Basic mixed styles example">
          <div class="btn-group" role="group" aria-label="Basic outlined example">
            <% if @hib_1st.date == nil %>
            <%= link_to set_baby_vaccination_list_path(id: @hib_1st.id) do %>
            <button type="button" class="btn btn-outline-primary">１回目 &emsp; 未</button>
            <% end %>
            <% elsif @hib_1st.date >= Date.today %>
            <%= link_to baby_vaccination_list_path(id: @hib_1st.id) do %>
            <button type="button" class="btn btn-outline-success">１回目&nbsp; 予定</button>
            <% end %>
            <% else %>
            <%= link_to baby_vaccination_list_path(id: @hib_1st.id) do %>
            <button type="button" class="btn btn-outline-danger">１回目 &emsp; 済</button>
            <% end %>
            <% end %>
            <button type="button" class="btn btn-outline-success">２回目&nbsp; 予定</button>
            <button type="button" class="btn btn-outline-primary">３回目 &emsp; 未</button>
            <button type="button" class="btn btn-outline-primary">４回目 &emsp; 未</button>
          </div>
        </div>
      </li>
      <li class="list-group-item list-group-item-light">小児用肺炎球菌 &emsp; <div class="btn-group" role="group"
          aria-label="Basic mixed styles example">
          <div class="btn-group" role="group" aria-label="Basic outlined example">
            <% if @haien_1st.date == nil %>
            <%= link_to set_baby_vaccination_list_path(id: @haien_1st.id) do %>
            <button type="button" class="btn btn-outline-primary">１回目 &emsp; 未</button>
            <% end %>
            <% elsif @haien_1st.date >= Date.today %>
            <%= link_to baby_vaccination_list_path(id: @haien_1st.id) do %>
            <button type="button" class="btn btn-outline-success">１回目&nbsp; 予定</button>
            <% end %>
            <% else %>
            <%= link_to baby_vaccination_list_path(id: @haien_1st.id) do %>
            <button type="button" class="btn btn-outline-danger">１回目 &emsp; 済</button>
            <% end %>
            <% end %>
            <button type="button" class="btn btn-outline-primary">２回目 &emsp; 未</button>
            <button type="button" class="btn btn-outline-primary">３回目 &emsp; 未</button>
            <button type="button" class="btn btn-outline-primary">４回目 &emsp; 未</button>
          </div>
        </div>
      </li>
      <li class="list-group-item list-group-item-warning">四種混合 &emsp; &emsp; &emsp; &nbsp; <div class="btn-group"
          role="group" aria-label="Basic mixed styles example">
          <div class="btn-group" role="group" aria-label="Basic outlined example">
            <% if @four_kinds_1st.date == nil %>
            <%= link_to set_baby_vaccination_list_path(id: @four_kinds_1st.id) do %>
            <button type="button" class="btn btn-outline-primary">１回目 &emsp; 未</button>
            <% end %>
            <% elsif @four_kinds_1st.date >= Date.today %>
            <%= link_to baby_vaccination_list_path(id: @four_kinds_1st.id) do %>
            <button type="button" class="btn btn-outline-success">１回目&nbsp; 予定</button>
            <% end %>
            <% else %>
            <%= link_to baby_vaccination_list_path(id: @four_kinds_1st.id) do %>
            <button type="button" class="btn btn-outline-danger">１回目 &emsp; 済</button>
            <% end %>
            <% end %>
            <button type="button" class="btn btn-outline-primary">２回目 &emsp; 未</button>
            <button type="button" class="btn btn-outline-primary">３回目 &emsp; 未</button>
            <button type="button" class="btn btn-outline-primary">４回目 &emsp; 未</button>

          </div>
        </div>
      </li>
      <li class="list-group-item list-group-item-light">BCG &emsp; &emsp; &emsp; &emsp; &emsp; <div class="btn-group"
          role="group" aria-label="Basic mixed styles example">
          <div class="btn-group" role="group" aria-label="Basic outlined example">
            <% if @bcg_1st.date == nil %>
            <%= link_to set_baby_vaccination_list_path(id: @bcg_1st.id) do %>
            <button type="button" class="btn btn-outline-primary">１回目 &emsp; 未</button>
            <% end %>
            <% elsif @bcg_1st.date >= Date.today %>
            <%= link_to baby_vaccination_list_path(id: @bcg_1st.id) do %>
            <button type="button" class="btn btn-outline-success">１回目&nbsp; 予定</button>
            <% end %>
            <% else %>
            <%= link_to baby_vaccination_list_path(id: @bcg_1st.id) do %>
            <button type="button" class="btn btn-outline-danger">１回目 &emsp; 済</button>
            <% end %>
            <% end %>
          </div>
        </div>
      </li>
      <li class="list-group-item list-group-item-warning">麻しん・風しん &emsp; <div class="btn-group" role="group"
          aria-label="Basic mixed styles example">
          <div class="btn-group" role="group" aria-label="Basic outlined example">
            <% if @mr_1st.date == nil %>
            <%= link_to set_baby_vaccination_list_path(id: @mr_1st.id) do %>
            <button type="button" class="btn btn-outline-primary">１回目 &emsp; 未</button>
            <% end %>
            <% elsif @mr_1st.date >= Date.today %>
            <%= link_to baby_vaccination_list_path(id: @mr_1st.id) do %>
            <button type="button" class="btn btn-outline-success">１回目&nbsp; 予定</button>
            <% end %>
            <% else %>
            <%= link_to baby_vaccination_list_path(id: @mr_1st.id) do %>
            <button type="button" class="btn btn-outline-danger">１回目 &emsp; 済</button>
            <% end %>
            <% end %>
            <button type="button" class="btn btn-outline-primary">２回目 &emsp; 未</button>
          </div>
        </div>
      </li>
      <li class="list-group-item list-group-item-light">水ぼうそう &emsp; &emsp; &thinsp; &thinsp; <div class="btn-group"
          role="group" aria-label="Basic mixed styles example">
          <div class="btn-group" role="group" aria-label="Basic outlined example">
            <% if @suitou_1st.date == nil %>
            <%= link_to set_baby_vaccination_list_path(id: @suitou_1st.id) do %>
            <button type="button" class="btn btn-outline-primary">１回目 &emsp; 未</button>
            <% end %>
            <% elsif @suitou_1st.date >= Date.today %>
            <%= link_to baby_vaccination_list_path(id: @suitou_1st.id) do %>
            <button type="button" class="btn btn-outline-success">１回目&nbsp; 予定</button>
            <% end %>
            <% else %>
            <%= link_to baby_vaccination_list_path(id: @suitou_1st.id) do %>
            <button type="button" class="btn btn-outline-danger">１回目 &emsp; 済</button>
            <% end %>
            <% end %>
            <button type="button" class="btn btn-outline-primary">２回目 &emsp; 未</button>
          </div>
        </div>
      </li>
      <li class="list-group-item list-group-item-warning">日本脳炎 &emsp; &emsp; &emsp; &thinsp; <div class="btn-group"
          role="group" aria-label="Basic mixed styles example">
          <div class="btn-group" role="group" aria-label="Basic outlined example">
            <% if @japanese_encephalitis_1st.date == nil %>
            <%= link_to set_baby_vaccination_list_path(id: @japanese_encephalitis_1st.id) do %>
            <button type="button" class="btn btn-outline-primary">１回目 &emsp; 未</button>
            <% end %>
            <% elsif @japanese_encephalitis_1st.date >= Date.today %>
            <%= link_to baby_vaccination_list_path(id: @japanese_encephalitis_1st.id) do %>
            <button type="button" class="btn btn-outline-success">１回目&nbsp; 予定</button>
            <% end %>
            <% else %>
            <%= link_to baby_vaccination_list_path(id: @japanese_encephalitis_1st.id) do %>
            <button type="button" class="btn btn-outline-danger">１回目 &emsp; 済</button>
            <% end %>
            <% end %>
            <button type="button" class="btn btn-outline-primary">２回目 &emsp; 未</button>
            <button type="button" class="btn btn-outline-primary">３回目 &emsp; 未</button>
            <button type="button" class="btn btn-outline-primary">４回目 &emsp; 未</button>
          </div>
        </div>
      </li>
      <li class="list-group-item list-group-item-light">HPV &emsp; &emsp; &emsp; &emsp; &emsp; <div class="btn-group"
          role="group" aria-label="Basic mixed styles example">
          <div class="btn-group" role="group" aria-label="Basic outlined example">
            <% if @hpv_1st.date == nil %>
            <%= link_to set_baby_vaccination_list_path(id: @hpv_1st.id) do %>
            <button type="button" class="btn btn-outline-primary">１回目 &emsp; 未</button>
            <% end %>
            <% elsif @hpv_1st.date >= Date.today %>
            <%= link_to baby_vaccination_list_path(id: @hpv_1st.id) do %>
            <button type="button" class="btn btn-outline-success">１回目&nbsp; 予定</button>
            <% end %>
            <% else %>
            <%= link_to baby_vaccination_list_path(id: @hpv_1st.id) do %>
            <button type="button" class="btn btn-outline-danger">１回目 &emsp; 済</button>
            <% end %>
            <% end %>
            <button type="button" class="btn btn-outline-primary">２回目 &emsp; 未</button>
            <button type="button" class="btn btn-outline-primary">３回目 &emsp; 未</button>
          </div>
        </div>
      </li>

    </ul>
    <br>
    ※ &nbsp; 日本小児科学会の推奨期間を参考に作成しています。
  </div>
  <%= image_tag "gahag-0082178198-1.jpeg", class:"list-pict"%>
  <%= render "shared/footer" %>