<div class="items-sell-contents">
  <header class="items-sell-header">
    <%= link_to image_tag('baby_app_logo.001.png' , size: '185x50'), "/" %>
  </header>
  <div class="items-sell-main">
    <% unless flash[:alert] == nil %>
    <%= render 'shared/error_messages', model: @vaccination_list %>
    <div class="error-alert">
      <ul>
        <li class='error-message'><%= alert %></li>
      </ul>
    </div>
    <% end %>

    <h2 class="text-center">
      ワクチン接種予定入力
    </h2>
    <br>
    <div class="card w-100">
      <div class="card-body">
        <h3 class="text-center">
          <%= @vaccination_list.vaccine.name %>
        </h3>
        <hr>
        <h5 class="text-center">◎接種可能期間◎</h5>
        <h4 class="text-center"><span>
            <%= @vaccination_list.start_date.strftime("%Y年%m月%d日") %>
          </span>〜<span>
            <%= @vaccination_list.end_date.strftime("%Y年%m月%d日") %>
          </span></h4>
      </div>
    </div>

    <%= form_with url: generate_baby_vaccination_list_path, local: true do |f| %>

    <div class="new-items">
      <div class="weight-bold-text">
        同時に接種するワクチンを選択
      </div>
      <ul class="list-group">
        <li class="list-group-item">
          <% if @vaccines.empty? %>
          <p class="text-center">同時に接種可能なワクチンはありません</p>
          <% else %>
          <%= f.collection_check_boxes :vaccination_ids, @vaccines, :id, :name, class: "form-check-input me-1" %>
          <% end %>
          <%
=begin%>

          <% @vaccination_lists.each do |vaccination_list| %>
          <% unless vaccination_list.id == @vaccination_list.id %>
        <li class="list-group-item">
          &emsp;
          <label>
            <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
            <%= vaccination_list.vaccine.name %>
          </label>
        </li>
        <% end %>
        <% end %>
        <%
=end%>

        </li>
      </ul>
    </div>

    <div class="new-items">
      <div class="weight-bold-text">
        接種（予定）日
        <span class="indispensable">必須</span>
      </div>
      <div class='input-birth-wrap'>
        <%= raw sprintf(
                  f.date_select(
                    :date,
                    class:'select-birth',
                    id:"birth-date",
                    use_month_numbers: true,
                    prompt:'--',
                    start_year: (Time.now.year),
                    end_year: (Time.now.year + 1),
                    date_separator: '%s'),
                  "<p> 年 </p>", "<p> 月 </p>") + "<p> 日 </p>" %>
      </div>
    </div>

    <div class="sell-btn-contents">
      <br>
      <div class="text-center">
        <button type="submit" class="btn btn-danger btn-lg">登録する</button>
        &emsp; &emsp; &emsp; &emsp; &emsp;
        <%= link_to baby_vaccination_lists_path do %>
        <button type="button" class="btn btn-secondary btn-lg">もどる</button>
        <% end %>
      </div>

    </div>
    <%# /下部ボタン %>
  </div>
  <% end %>

  <footer class="items-sell-footer">
    <ul class="menu">
      <li><a href="#">プライバシーポリシー</a></li>
      <li><a href="#">Baby App利用規約</a></li>
      <li><a href="#">お知らせ</a></li>
    </ul>
    <%= link_to image_tag('baby_app_logo.001.png' , size: '185x50'), "/" %>
    <p class="inc">
      ©︎ Baby App
    </p>
  </footer>
</div>