<div class="items-sell-contents">
  <header class="items-sell-header">
    <%= link_to image_tag('baby_app_logo.001.png' , size: '185x50'), "/" %>

  </header>

  <div class="item-show">
    <div class="item-box">
      <%= render 'shared/flash_alert', model: @vaccination_list %>
      <h2 class="text-center">
        詳細
      </h2>
      <br>

      <div class="card w-100">
        <div class="card-body">
          <br>
          <h4 class="text-center"><b>
              <%= @vaccination_list.vaccine.name %>
            </b></h4>
          <br>
          <p class="text-center">（ 接種可能期間：<span>
              <%= @vaccination_list.start_date.strftime("%Y年%m月%d日") %>
            </span>〜<span>
              <%= @vaccination_list.end_date.strftime("%Y年%m月%d日") %>
            </span>）</p>
          <br>
          <hr>
          <br>
          <h4 class="text-center"><u>
              <% if @vaccination_list.date >= Date.today %>
              接種予定日
              <% else %>
              接種日
              <% end %>
            </u></h4>
          <br>
          <h5 class="text-center"><b>
              <%= @vaccination_list.date.strftime("%Y年%m月%d日") %>
            </b></h5>
          <br>
          <hr>
          <br>
          <h4 class="text-center"><u>
              <% if @vaccination_list.date >= Date.today %>
              同時接種予定
              <% else %>
              同時接種
              <% end %>
            </u></h4>
          <br>
          <% if @vaccination_lists.empty? %>
          <p class="text-center">同時接種予定のワクチンはありません</p>
          <% else %>
          <% @vaccination_lists.each do |vaccination_list| %>
          <p class="text-center">
            <%= vaccination_list.vaccine.name %>
          </p>
          <% end %>
          <% end %>
          <br>
        </div>
      </div>

      <br><br>
      <div class="text-center">
        <%= link_to edit_baby_vaccination_list_path(params[:baby_id]) do %>
        <button type="button" class="btn btn-info btn-lg">内容の変更</button>
        <% end %>
        &emsp; &emsp; &emsp; &emsp; &emsp;
        <%= link_to reset_baby_vaccination_list_path(params[:baby_id]), method: :patch, data: { confirm: "同時接種する他のワクチンの接種日も削除されます。\n削除してよろしいですか？"} do %>
        <button type="button" class="btn btn-danger btn-lg">接種日の削除</button>
        <% end %>
        &emsp; &emsp; &emsp; &emsp; &emsp;
        <%= link_to baby_vaccination_lists_path do %>
        <button type="button" class="btn btn-secondary btn-lg">もどる</button>
        <% end %>
      </div>

    </div>
  </div>

  <%= render "shared/footer" %>